   *{
           margin: 0;
           padding: 0;
       }
           header,nav,main,footer{
               width: 1060px;
           margin: 0 50px;
           padding:20px;    
           margin:auto;
       }
       header{
            background-color:#030526;
            color:azure;
            text-align: center;
            /*width: 960px;*/
            height: 50px;         
       }
       nav{
           width: 1080px;
           height: 50px;
           padding: 10px;
           text-align: center;
           background-color:#8149A6; 
       }
nav ul{
           list-style-type:georgian;
       }
       nav ul li{
           display:inline-block;
           border: 1px solid darkslategrey;
       }
        nav ul a{
           margin:20px 40px;
			padding: 10px auto;
           font-weight: bold;
           text-decoration: none;
       }
       nav ul a:link{
           
           color:white;
       }
       nav ul a:visited{
           color:darkorange;
       }
       nav ul a:hover{
           color:darkblue;
           text-decoration:underline;
       }
       main{
           background-color:#D98BB6;
       }
		h2,h3{
	color:#8C3545;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    max-height: none;
       }
       section{
           background-color: antiquewhite;
           width: 800px;    
           margin: 20px auto;
           padding: 30px;  
       }
           a{
           margin: 0 20Px;
           font-weight: bold;
           text-decoration: none;
       }
       a:link{
           color: brown;
       }
       a:visited{
           color: deeppink;
       }
       a:hover{
           color:darkmagenta;
           text-decoration:underline;
       }


        #tabla_uno {
          width: 100%;
          border-collapse:inherit;
          
        }
        #tabla_uno td {
          background-color: transparent;
          color: aliceblue;
          padding: 8px;
        }
#tabla_uno img{
	height: 250px;
	width: auto;
}

       #tabla_dos{
           width: 70%;
           margin: 20px auto; 
           border-collapse: collapse;
       }
       #tabla_dos th{
            background-color: blueviolet;
            color: aqua;
           
        }
       #tabla_dos td {
           background-color:burlywood;
           color:aliceblue;
           font-weight: bold;
       }
       #tabla_dos th, #tabla_dos td{
    border: 2px solid purple;
    min-height: 0pt;
       }
       #tabla_dos tbody td:hover{
           background-color: black;
           color: aliceblue;
       }
        #tabla_tres {
          width: 700px;
          margin: 20px auto;
         
        }
        #tabla_tres th{
             background-color:#030526;
             color:#D98BB6;
        }
        #tabla_tres tr:nth-child(even) {
            background-color:darkblue;
            color:cornsilk;
			text-align: center;
        }
        #tabla_tres tr:nth-child(odd){
            background-color:#8149A6;
            color:#D98BB6;
			text-align: center;
        }
        #tabla_tres tr:hover{
           background-color:#071540;
           color:#D98BB6;
        }
        #tabla_tres img{
            width: 100px;
			height: auto;
        }
#practica{
	white-space: nowrap;
	width: auto;
	background-color: transparent;
}
div{
	display:inline-block;
	background-color: #071540;
	height: 40px;
	width: auto;
	padding: 20px ;
    margin-bottom: 20px;
	
}
#mensaje {
    width: 50%;
    height: 100px;
    padding: 10px 10px;
    margin-bottom: 10px 10px;
    border: 1px solid #2CD3C0;
    resize: vertical; /* Permite redimensionar verticalmente */
}
iframe{ 
	display: block;
	text-align: center;
	margin: 0 auto;
}
.musica{
	background-color: antiquewhite;
    width: 800px;    
    margin: 20px auto;
    padding: 30px;  
	text-align: center;
}
.musica p{
	text-align: left;
}
       nav ul{
           list-style-type:square;
       }
       nav ul li{
           display:inline-block;
           border: 1px solid purple;
       }
        nav ul a{
           margin: 0 40Px;
           font-weight: bold;
           text-decoration: none;
       }
form{
	padding: 10px 10px;
	width: auto

}
       footer{
           background-color:#8149A6;
           text-align: center;
           height: 20px;
       }
