*{
           margin: 0;
           padding: 0;
       }
       header,nav,main,footer{
           width: 1060px;
           margin: 0 50px;
           padding:20px;    
           margin:auto;
       }
       header{
            background-color:#030526;
            color:azure;
            text-align: center;
            /*width: 960px;*/
            height: 50px;         
       }
       nav{
           width: 1080px;
           height: 50px;
          padding: 10px;
           text-align: center;
           background-color: #8149A6; 
       }
       main{
           background-color:#D98BB6;
       }
       section{
           background-color: antiquewhite;
           width: 800px;    
           margin: 20px auto;
           padding: 30px;  
       }
      main nav{
           width: 840px;
           height: 50px;
           text-align:center;
           background-color: #8149A6;       
       }
       main nav a{
           text-decoration: none;
           padding: 10px;
           border-radius: 10px;
       }
       main nav a:link{
           color: darkblue;
           background-color: azure;
           border: 2px solid black;
       }
       main nav a:visited{
            color:fuchsia;
           border: 2px solid beige;
       }
       main nav a:hover{
           text-decoration: none;
            color:crimson;
           background-color: azure;
       }
        p{
           color:#030526;
       }
       article {
           width: 750px;
           margin: 20px auto;
           padding: 20px 30px;
           background-color:#030526;
       }
       article p{
            color: aliceblue;
		    position: relative;
    		overflow: hidden;
       }

       h2,h3{
	color:#8C3545;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    max-height: none;
       }
       a{
           margin: 0 20Px;
           font-weight: bold;
           text-decoration: none;
       }
       a:link{
           color: brown;
       }
       a:visited{
           color: deeppink;
       }
       a:hover{
           color:darkmagenta;
           text-decoration:underline;
       }
       img{
           width: 500px;
           height: auto;
           display: block;
           margin: 20px auto;
       }
       main section article img{
           width: 250px;
           height: auto;
           margin: 30px auto;
		   float: right;
		   padding: 10px 20px;
       }
       ol,ul{
           margin:20px;
           color:floralwhite;
           list-style-typy:square;
       }
       ol{
           list-style-type:upper-roman;
       }
       #musica{
           list-style-image: url(../Ordinario/Imagenes/music-alt.png);
       }
       nav ul{
           list-style-type:georgian;
       }
       nav ul li{
           display:inline-block;
           border: 1px solid darkslategrey;
       }
        nav ul a{
           margin:20px 40px;
			
			padding: 10px auto;
           font-weight: bold;
           text-decoration: none;
       }
       nav ul a:link{
           
           color:white;
       }
       nav ul a:visited{
           color:darkorange;
       }
       nav ul a:hover{
           color:darkblue;
           text-decoration:underline;
       }
       footer{
           background-color:#8149A6;
           text-align: center;
           height: 20px;
       }
